USE [WEBSHOP]
GO
/****** Object:  Schema [CUST]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'CUST')
EXEC sys.sp_executesql N'CREATE SCHEMA [CUST] AUTHORIZATION [dbo]'
GO
/****** Object:  Schema [ODRS]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'ODRS')
EXEC sys.sp_executesql N'CREATE SCHEMA [ODRS] AUTHORIZATION [dbo]'
GO
/****** Object:  Schema [PARAM]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'PARAM')
EXEC sys.sp_executesql N'CREATE SCHEMA [PARAM] AUTHORIZATION [dbo]'
GO
/****** Object:  Schema [PROD]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.schemas WHERE name = N'PROD')
EXEC sys.sp_executesql N'CREATE SCHEMA [PROD] AUTHORIZATION [dbo]'
GO
/****** Object:  Table [PROD].[CATEGORIES]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROD].[CATEGORIES]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROD].[CATEGORIES](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [nvarchar](100) NOT NULL,
	[ACTIVE] [bit] NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__CATEGORIES] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
/****** Object:  Table [CUST].[DOCUMENT_TYPE]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CUST].[DOCUMENT_TYPE]') AND type in (N'U'))
BEGIN
CREATE TABLE [CUST].[DOCUMENT_TYPE](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[DESCRIPTION] [varchar](100) NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__DOCUMENT__3214EC270AD2A005] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROD].[PRODUCTS    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROD].[PRODUCTS]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROD].[PRODUCTS](
	[ID_PRODUCT] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](50) NULL,
	[DESCRIPTION] [varchar](80) NULL,
	[PRICE] [decimal](10, 2) NULL,
	[AMOUNTS] [decimal](10, 2) NULL,
	[ACTIVE] [bit] NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__PRODUCT] PRIMARY KEY CLUSTERED 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROD].[PRODUCTS]') AND name = N'IDX_ID_PRODUCT')
CREATE NONCLUSTERED INDEX [IDX_ID_PRODUCT] ON [PROD].[PRODUCTS] 
(
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [PARAM].[PARAMETRIZATION]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PARAM].[PARAMETRIZATION]') AND type in (N'U'))
BEGIN
CREATE TABLE [PARAM].[PARAMETRIZATION](
	[ID] [int] NOT NULL,
	[KEY] [varchar](200) NULL,
	[VALUE] [varchar](200) NULL,
 CONSTRAINT [PK__PARAMETR__3214EC2715502E78] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [PROD].[PRODUCT_CATEGORIES]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[PROD].[PRODUCT_CATEGORIES]') AND type in (N'U'))
BEGIN
CREATE TABLE [PROD].[PRODUCT_CATEGORIES](
	[ID] [int] NOT NULL,
	[ID_CATEGORIES] [int] NULL,
	[ID_PRODUCT] [int] NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__PRODUCT___3214EC2707020F21] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[PROD].[PRODUCT_CATEGORIES]') AND name = N'IDX_PRODUCT_CATEGORIES')
CREATE NONCLUSTERED INDEX [IDX_PRODUCT_CATEGORIES] ON [PROD].[PRODUCT_CATEGORIES] 
(
	[ID_PRODUCT] ASC,
	[ID_CATEGORIES] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [CUST].[CUSTOMERS]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[CUST].[CUSTOMERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [CUST].[CUSTOMERS](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[ID_DOCUMENT_TYPE] [int] NULL,
	[DOCUMENT_NUMBER] [int] NULL,
	[FULLNAME] [varchar](200) NULL,
	[ADDRESS] [varchar](200) NULL,
	[PHONE] [varchar](30) NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__CUSTOMER__3214EC270EA330E9] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY],
 CONSTRAINT [UQ__CUSTOMER__4C702636117F9D94] UNIQUE NONCLUSTERED 
(
	[DOCUMENT_NUMBER] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
SET ANSI_PADDING OFF
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[CUST].[CUSTOMERS]') AND name = N'IDX_CUSTOMERS')
CREATE NONCLUSTERED INDEX [IDX_CUSTOMERS] ON [CUST].[CUSTOMERS] 
(
	[DOCUMENT_NUMBER] ASC,
	[FULLNAME] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [ODRS].[ORDERS]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ODRS].[ORDERS]') AND type in (N'U'))
BEGIN
CREATE TABLE [ODRS].[ORDERS](
	[ID] [int] NOT NULL,
	[ID_CUSTOMER] [int] NULL,
	[AMOUNT] [decimal](20, 5) NULL,
	[TAX] [decimal](5, 2) NULL,
	[TOTAL_AMOUNT] [decimal](20, 5) NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__ORDERS__3214EC271920BF5C] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[ODRS].[ORDERS]') AND name = N'IDX_ORDERS')
CREATE NONCLUSTERED INDEX [IDX_ORDERS] ON [ODRS].[ORDERS] 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  Table [ODRS].[ORDERS_DETAILS]    Script Date: 12/03/2017 23:22:54 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[ODRS].[ORDERS_DETAILS]') AND type in (N'U'))
BEGIN
CREATE TABLE [ODRS].[ORDERS_DETAILS](
	[ID] [int] NOT NULL,
	[ID_ORDER] [int] NULL,
	[ID_PRODUCT] [int] NULL,
	[UNITS] [decimal](10, 2) NULL,
	[PRICE] [decimal](10, 2) NULL,
	[DATE_CREATION] [smalldatetime] NULL,
	[DATE_MODIFI] [smalldatetime] NULL,
 CONSTRAINT [PK__ORDERS_D__3214EC271CF15040] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
IF NOT EXISTS (SELECT * FROM sys.indexes WHERE object_id = OBJECT_ID(N'[ODRS].[ORDERS_DETAILS]') AND name = N'IDX_ORDER')
CREATE NONCLUSTERED INDEX [IDX_ORDER] ON [ODRS].[ORDERS_DETAILS] 
(
	[ID_ORDER] ASC,
	[ID_PRODUCT] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
GO
/****** Object:  ForeignKey [FK_ID_DOCUMENT_TYPE]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[CUST].[FK_ID_DOCUMENT_TYPE]') AND parent_object_id = OBJECT_ID(N'[CUST].[CUSTOMERS]'))
ALTER TABLE [CUST].[CUSTOMERS]  WITH CHECK ADD  CONSTRAINT [FK_ID_DOCUMENT_TYPE] FOREIGN KEY([ID_DOCUMENT_TYPE])
REFERENCES [CUST].[DOCUMENT_TYPE] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[CUST].[FK_ID_DOCUMENT_TYPE]') AND parent_object_id = OBJECT_ID(N'[CUST].[CUSTOMERS]'))
ALTER TABLE [CUST].[CUSTOMERS] CHECK CONSTRAINT [FK_ID_DOCUMENT_TYPE]
GO
/****** Object:  ForeignKey [FK_ID_CUSTOMER]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[ODRS].[FK_ID_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[ODRS].[ORDERS]'))
ALTER TABLE [ODRS].[ORDERS]  WITH CHECK ADD  CONSTRAINT [FK_ID_CUSTOMER] FOREIGN KEY([ID_CUSTOMER])
REFERENCES [CUST].[CUSTOMERS] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[ODRS].[FK_ID_CUSTOMER]') AND parent_object_id = OBJECT_ID(N'[ODRS].[ORDERS]'))
ALTER TABLE [ODRS].[ORDERS] CHECK CONSTRAINT [FK_ID_CUSTOMER]
GO
/****** Object:  ForeignKey [FK_ID_ORDER]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[ODRS].[FK_ID_ORDER]') AND parent_object_id = OBJECT_ID(N'[ODRS].[ORDERS_DETAILS]'))
ALTER TABLE [ODRS].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ID_ORDER] FOREIGN KEY([ID_ORDER])
REFERENCES [ODRS].[ORDERS] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[ODRS].[FK_ID_ORDER]') AND parent_object_id = OBJECT_ID(N'[ODRS].[ORDERS_DETAILS]'))
ALTER TABLE [ODRS].[ORDERS_DETAILS] CHECK CONSTRAINT [FK_ID_ORDER]
GO
/****** Object:  ForeignKey [FK_ID_PRODUCT_ORDERS]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[ODRS].[FK_ID_PRODUCT_ORDERS]') AND parent_object_id = OBJECT_ID(N'[ODRS].[ORDERS_DETAILS]'))
ALTER TABLE [ODRS].[ORDERS_DETAILS]  WITH CHECK ADD  CONSTRAINT [FK_ID_PRODUCT_ORDERS] FOREIGN KEY([ID_PRODUCT])
REFERENCES [PROD].[PRODUCTS] ([ID_PRODUCT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[ODRS].[FK_ID_PRODUCT_ORDERS]') AND parent_object_id = OBJECT_ID(N'[ODRS].[ORDERS_DETAILS]'))
ALTER TABLE [ODRS].[ORDERS_DETAILS] CHECK CONSTRAINT [FK_ID_PRODUCT_ORDERS]
GO
/****** Object:  ForeignKey [FK_ID_CATEGORIES]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[PROD].[FK_ID_CATEGORIES]') AND parent_object_id = OBJECT_ID(N'[PROD].[PRODUCT_CATEGORIES]'))
ALTER TABLE [PROD].[PRODUCT_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_ID_CATEGORIES] FOREIGN KEY([ID_CATEGORIES])
REFERENCES [PROD].[CATEGORIES] ([ID])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[PROD].[FK_ID_CATEGORIES]') AND parent_object_id = OBJECT_ID(N'[PROD].[PRODUCT_CATEGORIES]'))
ALTER TABLE [PROD].[PRODUCT_CATEGORIES] CHECK CONSTRAINT [FK_ID_CATEGORIES]
GO
/****** Object:  ForeignKey [FK_ID_PRODUCT]    Script Date: 12/03/2017 23:22:54 ******/
IF NOT EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[PROD].[FK_ID_PRODUCT]') AND parent_object_id = OBJECT_ID(N'[PROD].[PRODUCT_CATEGORIES]'))
ALTER TABLE [PROD].[PRODUCT_CATEGORIES]  WITH CHECK ADD  CONSTRAINT [FK_ID_PRODUCT] FOREIGN KEY([ID_PRODUCT])
REFERENCES [PROD].[PRODUCTS] ([ID_PRODUCT])
GO
IF  EXISTS (SELECT * FROM sys.foreign_keys WHERE object_id = OBJECT_ID(N'[PROD].[FK_ID_PRODUCT]') AND parent_object_id = OBJECT_ID(N'[PROD].[PRODUCT_CATEGORIES]'))
ALTER TABLE [PROD].[PRODUCT_CATEGORIES] CHECK CONSTRAINT [FK_ID_PRODUCT]
GO
